.bio_panel{
    .p_name {
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 0.8em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .p_role{ font-size: 1em;}
    .p_nickname { font-size: 0.7em;}
}